<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="jasperfx">
      <package pattern="WolverineFx*" />
      <package pattern="JasperFx*" />
      <package pattern="Marten*" />
      <package pattern="Polecat*" />
      <package pattern="*AiSkills*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
